################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lab6/lab6/packages/EntityFramework.6.5.1/EntityFramework.6.5.1.nupkg
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net45/win-x86/ef6.exe
/lab6/lab6/packages/EntityFramework.6.5.1/build/EntityFramework.props
/lab6/lab6/packages/EntityFramework.6.5.1/build/EntityFramework.targets
/lab6/lab6/packages/EntityFramework.6.5.1/build/Microsoft.Data.Entity.Build.Tasks.dll
/lab6/lab6/packages/EntityFramework.6.5.1/build/net6.0/EntityFramework.props
/lab6/lab6/packages/EntityFramework.6.5.1/build/net6.0/EntityFramework.targets
/lab6/lab6/packages/EntityFramework.6.5.1/buildTransitive/EntityFramework.props
/lab6/lab6/packages/EntityFramework.6.5.1/buildTransitive/EntityFramework.targets
/lab6/lab6/packages/EntityFramework.6.5.1/buildTransitive/net6.0/EntityFramework.props
/lab6/lab6/packages/EntityFramework.6.5.1/buildTransitive/net6.0/EntityFramework.targets
/lab6/lab6/packages/EntityFramework.6.5.1/content/net40/App.config.install.xdt
/lab6/lab6/packages/EntityFramework.6.5.1/content/net40/App.config.transform
/lab6/lab6/packages/EntityFramework.6.5.1/content/net40/Web.config.install.xdt
/lab6/lab6/packages/EntityFramework.6.5.1/content/net40/Web.config.transform
/lab6/lab6/packages/EntityFramework.6.5.1/Icon.png
/lab6/lab6/packages/EntityFramework.6.5.1/lib/net40/EntityFramework.dll
/lab6/lab6/packages/EntityFramework.6.5.1/lib/net40/EntityFramework.SqlServer.dll
/lab6/lab6/packages/EntityFramework.6.5.1/lib/net40/EntityFramework.SqlServer.xml
/lab6/lab6/packages/EntityFramework.6.5.1/lib/net40/EntityFramework.xml
/lab6/lab6/packages/EntityFramework.6.5.1/lib/net45/EntityFramework.dll
/lab6/lab6/packages/EntityFramework.6.5.1/lib/net45/EntityFramework.SqlServer.dll
/lab6/lab6/packages/EntityFramework.6.5.1/lib/net45/EntityFramework.SqlServer.xml
/lab6/lab6/packages/EntityFramework.6.5.1/lib/net45/EntityFramework.xml
/lab6/lab6/packages/EntityFramework.6.5.1/lib/netstandard2.1/EntityFramework.dll
/lab6/lab6/packages/EntityFramework.6.5.1/lib/netstandard2.1/EntityFramework.SqlServer.dll
/lab6/lab6/packages/EntityFramework.6.5.1/lib/netstandard2.1/EntityFramework.SqlServer.xml
/lab6/lab6/packages/EntityFramework.6.5.1/lib/netstandard2.1/EntityFramework.xml
/lab6/lab6/packages/EntityFramework.6.5.1/README.md
/lab6/lab6/packages/EntityFramework.6.5.1/tools/about_EntityFramework6.help.txt
/lab6/lab6/packages/EntityFramework.6.5.1/tools/EntityFramework6.PS2.psd1
/lab6/lab6/packages/EntityFramework.6.5.1/tools/EntityFramework6.PS2.psm1
/lab6/lab6/packages/EntityFramework.6.5.1/tools/EntityFramework6.psd1
/lab6/lab6/packages/EntityFramework.6.5.1/tools/EntityFramework6.psm1
/lab6/lab6/packages/EntityFramework.6.5.1/tools/init.ps1
/lab6/lab6/packages/EntityFramework.6.5.1/tools/install.ps1
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net40/any/ef6.exe
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net40/any/ef6.pdb
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net40/win-arm64/ef6.exe
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net40/win-arm64/ef6.pdb
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net40/win-x86/ef6.exe
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net40/win-x86/ef6.pdb
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net45/any/ef6.exe
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net45/any/ef6.pdb
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net45/win-arm64/ef6.exe
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net45/win-arm64/ef6.pdb
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net45/win-x86/ef6.pdb
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net6.0/any/ef6.dll
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net6.0/any/ef6.pdb
/lab6/lab6/packages/EntityFramework.6.5.1/tools/net6.0/any/ef6.runtimeconfig.json
