# Ігноруємо папки зі зкомпільованими файлами та пакетами
bin/
obj/
packages/

# Ігноруємо файли бази даних (вони надто важкі для GitHub)
*.mdf
*.ldf
**/packages/*
**/*.exe
**/*.dll
**/*.pdb
.vs/
*.db
*.suo
*.user